<div class="cate_leftmenu">
  <div class="filter-container">
    <h2 class="filter-title small-hide">商品を絞り込む</h2>
    <!-- 常にオープンの「ロットNoから年代検索」 -->
    <div class="filter-section small-hide">
      <div class="accordion open" data-toggle="section1">ロットNoから年代検索</div>
      <div class="panel open" id="section1">
        <div class="search-box">
          <form action="/search" method="get" role="search">
            <input type="text" name="q" class="search-input" placeholder="例：JA-128DOA">
            <button type="submit" class="search-button"></button>
          </form>
        </div>
        <p class="info-text"><a href="#">ロットNoについて</a></p>
      </div>
    </div>

    {% render 'facets',
      results: collection,
      enable_filtering: section.settings.enable_filtering,
      enable_sorting: section.settings.enable_sorting,
      filter_type: section.settings.filter_type,
      paginate: paginate
    %}

    {% render 'filter-by-category',mobile:false,section: section %}
  </div>
</div>
