<div class="pdf-guide">
  <a href="{{ section.settings.pdf_text }}" target="_blank">
    {{ section.settings.name }}
  </a>
</div>

{% schema %}
{
    "name": "Custom PDF link",
    "settings": [
        {
            "type": "text",
            "id": "name",
            "label": "PDF Name",
            "default": "取扱説明書はこちら"
        },
            {
                "type": "url",
                "id": "pdf_text",
                "label": "PDF link",
            },
        ],
    "presets": [
        {
            "name": "Custom PDF link"
        }]
}
{% endschema %}